@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease-out;
}

.mirrored-image {
  transform: scaleX(-1); /* Voltear la imagen horizontalmente */
}

i {
  transition: transform 0.1s ease-in-out; /* Transición suave */
}

i:hover {
  transform: scale(1.5); /* Aumenta el tamaño al 120% */
}
