:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1C1C1C ;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Aplicar la fuente a todo el body */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;  /* Tamaño de fuente base */
  line-height: 1.5; /* Altura de línea para una mejor legibilidad */
  color: #333; /* Color de texto oscuro */
}

/* Ejemplo de estilos personalizados para un título */
h1 {
  font-size: 2rem;
  font-weight: 500; /* Peso de la fuente para que sea más pesado */
  color: #f7f9f7;  /* Cambiar el color a verde */
}

.mibg{
  background-color: #0a0a0a;
}

.text-morado {
  color: rgb(110 43 245); /* Código de color morado */
}
.circular-image {
  width: 400px; /* Tamaño de la imagen (ajústalo a tu necesidad) */
  height: 400px; /* Tamaño de la imagen (debe ser el mismo valor para crear el círculo) */
  border-radius: 50%; /* Hace que la imagen sea circular */
  object-fit: cover; /* Asegura que la imagen se ajuste correctamente dentro del círculo */
}
