:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1C1C1C ;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-nav .nav-link {
  transition: all 0.3s ease-in-out; /* Suaviza la transición */
  position: relative;
}

.navbar-nav .nav-link:hover {
  color: #00ccff !important; /* Cambia el color del texto al pasar el mouse */
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #00ccff; /* Línea de color amarillo */
  bottom: 0;
  left: 50%;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.navbar-nav .nav-link:hover::after {
  width: 100%; /* Expande la línea al pasar el mouse */
}

.mibg{
  background-color: #0a0a0a;
}

.text-morado {
  color: rgb(110 43 245); /* Código de color morado */
}